body {
    background-color: rgb(76, 76, 80);
    margin: 0;
  }
  .container-fluid {
    padding: 0;
  }
  .gradient-form {
    background-color: rgb(76, 76, 80);
    height: 100vh;
  }



.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a);
    }
/* Estilo para quitar las flechas en navegadores Webkit (Chrome, Safari, Opera) */
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
    }

 /* Estilo para quitar las flechas en Firefox */
     input[type=number] {
         -moz-appearance: textfield;
     }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .btn-login {
        border: none;
    }
